<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageName %></title>
    <link rel="stylesheet" href="/css/app.css">
    <link href="/libs/css/bootstrap.min.css" rel="stylesheet">
    <link href='/libs/css/mapbox.min.css' rel='stylesheet'/>
    <script src='/libs/js/mapbox.min.js'></script>
    <script src="/libs/js/jquery.min.js"></script>

</head>

<body class="boxedContent d-flex flex-column vh-100 <%= typeof className == 'undefined' ? '' : className %>">
<%- include('../partials/navbar') %>
<main class="container py-4 py-md-5 mainContent">
    <%- include('../partials/flash') %>
    <%- body %>
</main>
<%- include('../partials/footer') %>

<script src="/libs/js/bootstrap.bundle.min.js"></script>
<script src="/libs/js/fontawesome.min.js"></script>
<script src="/libs/js/bs-custom-file-input.min.js"></script>
<script src="/js/validateForms.js"></script>
<script src="/js/tooltip.js"></script>
</body>
</html>