<% layout('layouts/boilerplate') %>

<div class="row justify-content-center align-items-center viewportContent">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form class="validated-form" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate
              enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input id="title" type="text" name="campground[title]" value="<%= campground.title %>"
                       class="form-control" required>
                <div class="invalid-feedback">
                    Title is required
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group ">
                    <span class="input-group-text" id="price-label">$</span>
                    <input id="price" type="text" name="campground[price]" value="<%= campground.price %>"
                           class="form-control"
                           aria-describedby="price-label" placeholder="0.00" required>
                    <div class="invalid-feedback">
                        Price is required
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" type="text" name="campground[description]" class="form-control" rows="3"
                          required><%= campground.description %></textarea>
                <div class="invalid-feedback">
                    Description is required
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input id="location" type="text" name="campground[location]" value="<%= campground.location %>"
                       class="form-control" required>
                <div class="invalid-feedback">
                    Location is required
                </div>
            </div>
            <div class="custom-file">
                <input class="form-control" type="file" id="formFileMultiple" name="image" multiple <%= campground.images.length < 1 ? 'required' : '' %>>
                <div class="form-text mt-2 ms-2">
                    <i>At least one image is necessary to showcase the campground.</i>
                </div>
                <label for="formFileMultiple" class="form-label custom-file-label"></label>
            </div>
            <div class="mb-3 d-flex justify-content-evenly">
                <% campground.images.forEach((img, i) => { %>
                    <div class="d-inline-block">
                        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
                        <% if (campground.images.length > 1) { %>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="<%= img.filename %>"
                                       id="image-<%= i %>"
                                       name="deleteImages[]">
                                <label for="image-<%= i %>">Delete</label>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
            </div>
            <div class="d-grid mt-3">
                <button class="col-10 col-sm-8 btn btn-success mx-auto">Update Campground</button>
            </div>
        </form>
        <div class="d-grid mt-5 mx-auto">
            <a class="col-10 col-sm-8 btn btn-secondary mx-auto" href="/campgrounds/<%= campground._id %>">Back To
                Campground</a>
        </div>
    </div>
</div>