<% layout('layouts/boilerplate') %>

<div class="row mx-auto justify-content-center align-items-center userCampgrounds">
    <div class="campgroundsWrapper py-3">
        <% if (campgrounds.length === 0) { %>
            <div class="alert alert-primary text-center" role="alert">
                <p class="fw-bold text-secondary">Oops, we couldn't find any campgrounds for you! It seems that you haven't created any campgrounds yet.</p>
            </div>
        <% }
        else { %>
            <div class="d-flex justify-content-evenly flex-wrap gap-5">
                <% campgrounds.forEach(campground => { %>
                    <div class="card" style="width: 225px;">
                        <% if(campground.images.length > 0) { %>
                            <img src="<%= campground.images[0].thumbnail %>" class="card-img-top img-thumbnail" alt="Campground Image">
                        <% } %>
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <h5 class="card-title"><%= campground.title %></h5>
                            <p class="card-text">    <%= campground.description.length > 20 ? campground.description.slice(0, 20) + '...' : campground.description %></p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-sm btn-info">View <%= campground.title %></a>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } %>
        <a class="d-block mt-5 col-10 col-sm-6 col-md-3 btn btn-primary mx-auto" href="/campgrounds/new">Create Campground</a>
    </div>
</div>
